<h2 id="welcome">Welcome to CSE Motors!</h2>

<section id="hero">
    <div id="hero-card">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <button><a href="/inventory">Own Today</a></button>
    </div>
</section>

<section class="main-flex">
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
    </div>

    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <ul>
            <li>
                <picture>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </picture>
                <a href="/upgrades/flux-capacitor">Flux Capacitor</a>
            </li>
            
            <li>
                <picture>
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </picture>
                <a href="/upgrades/flame-decals">Flame Decals</a>
            </li>
            
            <li>
                <picture>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                </picture>
                <a href="/upgrades/bumper-sticker">Bumper Sticker</a>
            </li>
            
            <li>
                <picture>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Utensil Holder">
                </picture>
                <a href="/upgrades/hub-cap-utensil-holder">Hub Cap Utensil Holder</a>
            </li>
        </ul>
    </div>
</section>