<h1>CSE Motors</h1>

<section id="hero">
    <picture>
        <img src="/images/vehicles/delorean.jpg" alt="Delorean Car">
    </picture>

    <div id="hero-text">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders<br>Superman doors<br>Fuzzy dice!</h3>
        <button><a href="/inventory">Own Today</a></button>
    </div>
</section>

<section id="main-grid">
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <ul>
            <li>
                <picture>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </picture>
                <a href="/upgrades/flux-capacitor">Flux Capacitor</a>
            </li>
            
            <li>
                <picture>
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </picture>
                <a href="/upgrades/flame-decals">Flame Decals</a>
            </li>
            
            <li>
                <picture>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                </picture>
                <a href="/upgrades/bumper-sticker">Bumper Sticker</a>
            </li>
            
            <li>
                <picture>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Utensil Holder">
                </picture>
                <a href="/upgrades/hub-cap-utensil-holder">Hub Cap Utensil Holder</a>
            </li>
        </ul>
    </div>

    <div id="reviews">
        <h2>Delorean Reviews</h2>
        <div class="review">
            <h3>So fast it's like traveling in time.</h3>
            <p>4/5</p>
        </div>
        <div class="review">
            <h3>Coolest ride on the road.</h3>
            <p>4/5</p>
        </div>
        <div class="review">
            <h3>I'm feeling Marty McFly!</h3>
            <p>5/5</p>
        </div>
        <div class="review">
            <h3>The most futuristic ride of our day.</h3>
            <p>4.5/5</p>
        </div>
    </div>
</section>