<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<section class="management-view">
  <p>Use the inventory management tools below to add classifications or inventory items.</p>

  <ul class="management-links">
    <li>
      <a class="button-link" href="/inv/add-classification">Add New Classification</a>
    </li>
    <li>
      <a class="button-link" href="/inv/add-inventory">Add New Inventory</a>
    </li>
  </ul>
</section>
