<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<section class="management-view">
  <ul class="management-links">
    <li>
      <a class="button-link" href="/inv/add-classification">Add New Classification</a>
    </li>
    <li>
      <a class="button-link" href="/inv/add-vehicle">Add New Inventory</a>
    </li>
  </ul>
</section>
